body {
  margin: 70px 0 0px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #888;
}

/* =========================== NAV BAR =========================== */

.nav-bar {
  display: flex;
  width: 100%;
  background: #333;
  padding: 5px 10px;
  position: fixed;
  top: 0;
}

.title {
  color: white;
}

.logout {
  border: none;
  background: #9d0208;
  color: white;
  padding: 7px;
  font-size: 17px;
  border-radius: 2px;
  cursor: pointer;
  position: fixed;
  right: 100px;
  top: 20px;
}

#signin-button {
  border: none;
  background: #0077b6;
  color: white;
  padding: 7px;
  font-size: 20px;
  border-radius: 2px;
  cursor: pointer;
  position: fixed;
  right: 30px;
  top: 15px;
}

#signin-button:hover {
  background: #48cae4;
  color: black;
}

.fa-shopping-cart {
  color: #fff;
  font-size: 30px;
  right: 30px;
  position: fixed;
  top: 21px;
  cursor: pointer;
}

.cart-length {
  color: #fff;
  font-size: 20px;
  right: 18px;
  position: fixed;
  top: 8px;
  margin: 0;
  background: #d00;
  border-radius: 50%;
  padding: 2px 7px;
  transition: 0.3s;
}

/* ========================== SIGN IN ========================== */

#signin-modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.signin-content {
  background-color: #fefefe;
  margin: auto;
  padding: 50px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 10px;
}

.signin-close {
  color: #fff9;
  /* float: right; */
  font-size: 28px;
  cursor: pointer;
  top: 11.3%;
  right: 24.5%;
  font-family: sans-serif;
  position: fixed;
  padding: 8px 15px;
}

.signin-close:hover {
  background: #fff2;
  border-radius: 50%;
}

/* =========================== SIGN IN INPUTS =========================== */
.fontuser {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.fontuser i {
  color: #0007;
  position: absolute;
  left: 8px;
  top: 25px;
  border-right: 1px solid;
  padding-right: 6px;
}
.fontpass {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.fontpass i {
  color: #0007;
  position: absolute;
  left: 8px;
  top: 25px;
  border-right: 1px solid;
  padding-right: 6px;
}

#email,
#password {
  padding: 5px 5px 5px 35px;
  font-size: 14px;
}

/* =========================== SHOPPING CART =========================== */
#cart-popup {
  /* display: none; */
  background: #aaa;
  position: fixed;
  right: 0;
  top: -900px;
  z-index: 1;
  overflow: auto;
  background-color: #0006;
  width: 100%;
  height: 100%;
}

#cart-popup.show {
  /* display: block; */
  top: 0px;
}

#cart-content {
  position: fixed;
  background-color: #fff;
  margin: auto;
  padding: 20px 50px;
  width: 25%;
  border-radius: 5px 0 0 5px;
  right: -900px;
  top: 80px;
  transition: 0.25s ease-in-out;
  display: flex;
  overflow: auto;
  flex-direction: column;
  /* flex-wrap: wrap; */
  height: 80%;
}

#cart-content.slide {
  right: 0;
}

#close-cart {
  color: #000;
  /* float: right; */
  font-size: 28px;
  cursor: pointer;
  top: 11.3%;
  right: -900px;
  font-family: sans-serif;
  position: fixed;
  padding: 8px 15px;
  transition: 0.25s ease-in-out;
}

#close-cart.close {
  right: 28%;
}

.cart-title {
  text-align: center;
  font-size: 30px;
}

.cart-item-div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #0003;
}

.cart-img {
  width: 16%;
  margin-right: 15px;
}

.cart-name {
  font-size: 20px;
}

.cart-price {
  font-size: 17px;
}

.total-in-cart {
  text-align: right;
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
}

.checkout {
  padding: 7px 50px;
  /* width: 100%; */
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  background: #0fdf8f;
  margin-bottom: 30px;
  font-size: 20px;
  color: #000;
}

.checkout:hover {
  color: #282828;
  background: #03d383;
  /* box-shadow: 2px 2.5px 6px 0px #0003; */
}

.continue-shopping {
  padding: 9px 40px;
  /* width: 100%; */
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  background: #2a2a2a;
  margin-bottom: 15px;
  color: #fff;
}

.continue-shopping:hover {
  /* box-shadow: 2px 2.5px 7px 0px #0005; */
  background: #000;
}

.clear-cart {
  padding: 9px 69.75px;
  /* width: 100%; */
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  background: #bdc5cd;
  color: #000;
}

.clear-cart:hover {
  /* box-shadow: 2px 2.5px 5px 0px #0002; */
  background: #cdd5dd;
  color: #000;
}

.clear-button-div {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  align-items: center;
  flex-direction: column;
}

.clear-cart-greyd {
  background: #ddd;
  border: none;
  color: #666;
  padding: 9px 69.75px;
  border-radius: 50px;
}

#open-cart-warning {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: #0007;
}

.cart-warning-content {
  background-color: #ef882e;
  margin: auto;
  padding: 70px;
  width: 22%;
  border-radius: 3px;
}

.close-cart-warning {
}

.clear-cart-title {
  font-size: 20px;
  color: #a00;
}

/* =========================== PROCEEDING TO CHECKOUT =========================== */

#open-checkout-modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: #0008;
}

.checkout-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 50px 200px;
  width: 95%;
  overflow: auto; /* Enable scroll if needed */
  border-radius: 1px;
  height: 60%;
}

.checkout-img {
  width: 7%;
  margin-right: 15px;
}

.checkout-name {
  font-size: 15px;
}

.checkout-price {
  font-size: 13px;
}

.close-checkout-modal {
  cursor: pointer;
  padding: 8px 15px;
}
.place-order-button {
  cursor: pointer;
  padding: 8px 15px;
}
/* =========================== PRODUCTS =========================== */
#form-image {
  width: 10%;
}

.product-img {
  width: 50%;
  /* max-width: 200px; */
  /* min-width: 50%; */
}

.add-to-cart {
  color: #000;
  background: #ddd;
  border: none;
  padding: 7px 12px;
  border-radius: 15px;
  cursor: pointer;
  width: 120px;
}

.already-in-cart {
  color: #888;
  background: #ddd;
  border: none;
  padding: 7px 12px;
  border-radius: 15px;
  width: 120px;
}

.fa-trash-alt {
  color: #fff;
  background: #700;
  text-align: center;
  padding: 7px 10px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
}
