body {
  margin: 80px 0 10px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* =========================== NAV BAR =========================== */

.nav-bar {
  display: flex;
  width: 100%;
  background: #000;
  padding: 5px 10px;
  position: fixed;
  top: 0;
}

.title {
  color: white;
}

.fa-shopping-cart {
  color: #fff;
  font-size: 30px;
  right: 30px;
  position: fixed;
  top: 19px;
}

.logout {
  border: none;
  background: #9d0208;
  color: white;
  padding: 7px;
  font-size: 20px;
  border-radius: 2px;
  cursor: pointer;
  position: fixed;
  right: 100px;
  top: 15px;
}

#signin-button {
  border: none;
  background: #0077b6;
  color: white;
  padding: 7px;
  font-size: 20px;
  border-radius: 2px;
  cursor: pointer;
  position: fixed;
  right: 100px;
  top: 15px;
}

#signin-button:hover {
  background: #48cae4;
  color: black;
}

/* ========================== SIGN IN ========================== */

#signin-modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.signin-content {
  background-color: #fefefe;
  margin: auto;
  padding: 50px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 10px;
}

.signin-close {
  color: #fff9;
  /* float: right; */
  font-size: 28px;
  cursor: pointer;
  top: 10.8%;
  right: 24.5%;
  font-family: sans-serif;
  position: fixed;
  padding: 8px 15px;
}

.signin-close:hover {
  background: #fff2;
  border-radius: 50%;
}

/* =========================== SIGN IN INPUTS =========================== */
.fontuser {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.fontuser i {
  color: #0007;
  position: absolute;
  left: 8px;
  top: 25px;
  border-right: 1px solid;
  padding-right: 6px;
}
.fontpass {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.fontpass i {
  color: #0007;
  position: absolute;
  left: 8px;
  top: 25px;
  border-right: 1px solid;
  padding-right: 6px;
}

#email,
#password {
  padding: 5px 5px 5px 35px;
  font-size: 14px;
}

/* =========================== SHOPPING CART =========================== */

/* =========================== PRODUCTS =========================== */

img {
  width: 25%;
}
