.container {
  display: grid;

  grid-auto-columns: 1fr;
  grid-template-rows: 200px 500px 200px;
}

.create {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start:3;
  grid-row-end:3
}

/* .products {
    display:flex;
    flex-flow: wrap;
} */
